# Copy this file to .env and adapt configuration accordingly. 

NAME=drone
DOMAIN=drone.example.com

DRONE_SERVER_PROTO=https
DRONE_RPC_SECRET=ycrxvL3lzpEXRDG34dFxJYlxqxAFAudg
DRONE_GITHUB_CLIENT_ID="TCitBp4VsjZ9wLZd2DpYdJs6t9CmEtQg"
DRONE_GITHUB_CLIENT_SECRET="bTKyr6GGQCSxD7C5BZcYxN9SYvidAv1P"